<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首頁</title>
</head>
<body>

{% if request.session.username %}
<p>歡迎{{ request.session.username }}</p>
<p><a href="/user/logout">退出登錄</a></p>
<p><a href="">進入我的筆記</a></p>
{% else %}
    {% if request.COOKIES.username %}
    <p>歡迎{{ request.session.username }}</p>
    <p><a href="">退出登錄</a></p>
    <p><a href="">進入我的筆記</a></p>
    {% else %}
    <p><a href="/user/login">登錄</a></p>
    <p><a href="/user/reg">註冊</a></p>
    {% endif %}
{% endif %}

</body>
</html>